/* Smooth scroll */
html {
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-bj62LCEWqVRz-PUBo0UWxXHmYL1eNbgZxQ&s") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* About Section */
#about img {
  max-height: 350px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Skills Section */
.skill-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.skill-box:hover {
  background: #17a2b8;
  color: white;
  transform: scale(1.05);
}
/* project section */
.card-img-top {
  max-height: 350px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Contact Section */
.contact {
  background: #222;
  padding: 50px 0;
}

/* Footer */
footer {
  background: #111;
  color: #bbb;
  font-size: 0.9rem;
}
